@CHARSET "ISO-8859-1";

body {
	background-color: #fefbd8;
}

h1 {
	text-align: center;
}

p {
	font-size: 20pt;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

 div {
  padding-top: 30px;
  padding-right: 300px;
  padding-left: 300px;
}

h1{
	padding-top: 30px;
	font-size: 200%;
}

.correo  {
  padding-top: 30px;
  padding-right: 150px;
  padding-left: 150px;
  text-align:center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size:18pt;
}

label{
	font-size:18pt;
}

input{
	width:300px;
	height:30px;
}

input[type="submit"]{
	width:150px;
}

.column {
  width: 25%;
  padding: 45px;
  display: inline-block;
  text-align:center;
}

.column p{
	font-size: 150%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #008080;
  color: white;
}